* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

.d-flex {
    display: flex;
}

.text-align-center {
    text-align: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.align-items-flex-end {
    align-items: flex-end;
}

.align-items-flex-start {
    align-items: flex-start;
}

.flex-direction-column {
    flex-direction: column;
}

.mx-auto {
    margin: 0 auto;
}

body {
    font-family: 'Heebo', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 1.5;
    color: #5f5f5f;
    letter-spacing: 1px;
}
 /*=====================member====*/
    
 .member {
    padding: 5rem 0;
}

.member .title {
    color: #1c1d3e;
    font-size: 3.5rem;
    font-weight: 500;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 0 5rem;
}

.member .title span {
    color: orange;
}

.member .box {
    margin: 1rem 0;
    box-shadow: 0px 0px 12px #dad9f1;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.member .box .line-top {
    width: 0;
    height: 5px;
    background-color: orangered;
    margin-bottom: 2rem;
    transition: 0.6s;
}

.member .box:hover .line-top {
    width: 8rem;
}

.member .box .line-bottom {
    width: 0rem;
    height: 5px;
    background-color: orangered;
    margin-left: auto;
    transition: 0.6s;
}

.member .box:hover .line-bottom {
    width: 8rem;
}

.member .box .img {
    position: relative;
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}

.member .box .img img {
    box-shadow: 0px 0px 15px #c1c0c0;
}

.member .box .img .overlay {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(0, -50%);
    width: fit-content;
    color: black;
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    opacity: 0;
    visibility: hidden;
}

.member .box:hover .img .overlay {
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
}

.member .box .job {
    font-size: 1.5rem;
    padding: 1rem 0 0.7rem;
}

.member .box .name {
    font-size: 2rem;
    color: orangered;
}

.member .box .list-social {
    margin: 1rem auto 3rem;
    width: max-content;
}

.member .box .list-social .list-item {
    transition: 0.5s;
}

.member .box .list-social .list-item .list-link {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    margin: 1rem;
    border-radius: 50%;
}

.member .box .list-social .list-item:hover {
    transform: rotateY(360deg);
}

.member .box .list-social .list-item .facebook {
    background-color: rgb(4, 57, 235);
}

.member .box .list-social .list-item .twitter {
    background-color: rgb(18, 114, 240);
}

.member .box .list-social .list-item .google {
    background-color: rgb(252, 53, 17);
}

.member .box .list-social .list-item .linkedin {
    background-color: rgb(46, 66, 248);
}

@media (max-width:568px) {
    .member .title {
        font-size: 2rem;
    }
}

@media (max-width:480px) {
    .member {
        padding: 2rem 0;
    }
}